
.page-title
{
	margin-left: 50px;
	margin-top: 25px;
}
#school-logo {
	display: block;
	margin: 0 auto;
	margin-left: 0px;
	max-height: 75px;
	margin-right: 25px;
	position: relative;
	float: left;
}

.title {
	display: block;
	font-family: "Source Sans Pro";
	font-weight: 700;
	font-size: 40px;
	line-height: 75px;
	letter-spacing: -1px;
}
#content {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	background: #FFFFFF;
}

	.sub-header {
	text-align: center;
	height: 520px;
	box-sizing: border-box;
	background-size: 100%;
	background-repeat: no-repeat;
	/*background: linear-gradient(to bottom right, #000000, #000000);*/
	color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;

}

	.sub-header #sub-title {
		z-index: 2;
		font-size: 20px;
		font-weight: 100;

	}

	.sub-header p {
		margin-top: 0px;
		font-weight: 600;
		font-size: 20px;
	}
	.sub-header #find-us {
		font-size: 12px;
		margin-bottom: 15px;
	}
	.sub-header .#0667D0 {
		color: #7986CB;
	}

#slides {
	    position: relative;
	    padding: 0px;
	    margin: 0px;
	    list-style-type: none;
	}

	.profile-title-bar
	{
		padding: 10px;
		height: auto;
		color: #000;
		background: #fff;
		border-bottom: 1px solid #999;
	}

	.slide {
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    opacity: 0;
	    z-index: 1;

	    -webkit-transition: opacity 1s;
	    -moz-transition: opacity 1s;
	    -o-transition: opacity 1s;
	    transition: opacity 1s;
	}

	.slide-image{
		width: 100%;
		height: 465px;
		z-index: 3;
	}

.main-cta-button {
	display: block;
	background: #CCC;
	color: #FFF;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 250px;
	text-decoration: none;
	margin: 0 auto;
}

	.showing {
	    opacity: 1;
	    z-index: 2;
	}

	iframe {
			display: block;

			margin-top: 10px;
			margin: 0 auto;
			width: 530px;
			height: 315px;
			text-align: center
		}
#nav-top {
		box-sizing; border-box;
		text-align: center;
		padding-left: 10px;
		background: #fff;
		border-bottom: 1px solid #999;
	}
		#nav-top ul {

			list-style-type: none;
		}
			#nav-top ul li {
				height: 60px;
				width: auto;
				margin: 0 auto;
				float: left;
				position: relative;
			}

				#nav-top ul li a {
					display: block;
					padding: 20px 0px;
					padding-left: 10px;
					padding-right: 10px;
					text-decoration: none;
					color: #000;
					font-size: 1em;
					font-weight: 900;
				}
				#nav-top ul li a:hover .link-text {
					transition: .4s;
					color: #7986CB;
				}

			#nav-top #button {
					float: left;
					margin-top: 17px;
					margin-left: 100px;
					background: #CCC;
					font-size: 18px;
					font-weight: 600;
					height: 40px;
					width: 250px;
					border: 2px solid #FFFFFF;
					border-radius: 5px;
					transition: .275s;
					position: relative;
					color: #FFFFFF;
				}
				.button {
					padding-left: 10px;
					padding-right: 10px;
					margin-right: 15px;
					text-decoration: none;
					float: right;

					margin-top: 10px;
					background: #0667D0;
					font-size: 18px;
					font-weight: 600;
					line-height: 40px;
					height: 40px;
					border-radius: 2px;
					position: relative;
					color: #FFFFFF;
					box-shadow: 0px 1px 3px #555;
				}
.button:hover
{
	transition: .4s;
	box-shadow: 0px 3px 7px #555;
}


.mobile-school-logo {
	display: none;
	height: 100px;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 10px;
}


#bio-con {
	padding: 15px;
	padding-left: 100px;
	padding-right: 100px;
	text-align: left;
	box-sizing: border-box;
	height: auto;
	width: 80%;
	float: left;

	color: #778899;
	margin-top: 0px;

}

#bio-con .header-1 {
	color: #000;
}

.bio-1 {
	font-weight: 100;

}
#bio-con li {
	list-style-type: none;
}
.classes {
	margin-top: 10px;
	height: 25px;
	width: 300px;
	border-radius: 5px;
	border: 2px solid #7986CB;
}

.in-capt {
	background-color: rgba(255, 255, 255, 0.701961);
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	margin-top: 10px;
	height: 40px;
	width: 280px;

	border-radius: 0px;
	border: 1px solid #778899;
	transition: 0.5s;

}
.in-capt-info {
	background: #FFFFFF;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	margin-top: 10px;
	height: 40px;
	width: 280px;
	color: #000000;
	border-radius: 0px;
	border: 1px solid #778899;
	transition: 0.5s;

}
.in-capt-info::-webkit-input-placeholder {
   color: #000000;
}

.in-capt-info:-moz-placeholder { /* Firefox 18- */
   color: ##000000;
}

.in-capt-info::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;
}

.in-capt-info:-ms-input-placeholder {
   color: #000000;
}
.infodrop {
	background: #f6f7f9;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	margin-top: 10px;
	height: 40px;
	width: 110px;
	color: #333;
	border-radius: 0px;
	transition: 0.5s;
}
.infodrop:hover
{
	cursor: pointer;
}

.in-capt:focus {
    border:1px solid #7986CB;
    box-shadow: 0 0 10px #719ECE;
}

::-webkit-input-placeholder {
   color: #333333;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333333;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333333;
}

:-ms-input-placeholder {
   color: #333333;
}

#promo-container{

	margin: 0 auto;
}


.mobile-nav-top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
	width: 100%;
	background: #0667D0;
	color: #fff;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #999;
}

.mobile-nav-top a
{
	color: #fff;
}

summary::-webkit-details-marker
{
	display: none
}

	#mobile-button {
		background: #7986CB;
		color: #FFFFFF;
		font-weight: 600;

		border-radius: 5px;
		padding: 5px;
	}

		#contact-us {
			box-sizing: border-box;
			padding: 10px;
			margin-top: 15px;
			margin-bottom: 15px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			height: auto;
			width: 100%;
			background: #0667D0;
			color: #FFFFFF;
		}

		#map {
			margin-top: 15px;
			margin-bottom: 15px;
			border-top: 1px solid #CCC;
			border-bottom: 1px solid #CCC;
		}
		/*
		.mobile-map
		{
			display: none;
			margin: 0 auto;
		}
		*/
		#school-info-box {
			text-align: center;
			height: auto;
			width: 100%;
			color: #000;
			background: #fff;
			font-weight: 600;
			font-size: 30px;
			padding-bottom: 15px;
		}


		#mobile-vs {
			text-align: center;
			background: url('../../../../img/visit-now.png');
			background-size: 100%;
			display: block;
			margin: 0 auto;
			margin-top: 10px;
			width: 250px;
			height: 40px;
			border: 2px solid #FFFFFF;
			border-radius: 5px;
	}

		#bottom-box {
			padding-left: 10px;
			padding-bottom: 10px;
			width: auto;
			height: auto;
			border-top: 1px solid #CCCCCC;
			border-bottom: 1px solid #CCCCCC;
			margin: 0 auto;
			background: #0667D0;
			color: #FFFFFF;
		}

		.website-bar
		{
			padding-top: 20px;
			padding-bottom:20px;
		}

			#site-rating{
				width: auto;
				text-align: left;
				font-weight: 600;
				color: #000000;
				font-size: 18px;
				position: relative;
		}
				#site-rating p {

				}

			#reviews-link a {
				text-decoration: none;
				font-weight: 600;
				width: auto;
				text-align: left;
				color: blue;
				font-size: 18px;
				position: relative;
			}

			#comment-h {
				padding: 20px;
				padding-bottom: 0px;
			}

			#review-box #comment-box{
				box-sizing: border-box;
				padding: 5px;
				margin-top: 30px;
				margin-left: 30px;
				height: 100px;
				width: 800px;
				border-top: 1px solid #BBBBBB;
				border-left: 1px solid #BBBBBB;
				border-right: 1px solid #DDDDDD;
				border-bottom: 1px solid #DDDDDD;
				border-radius: 5px 5px 5px 5px;
				position: relative;

			}


			#review-box #rate-p {
				margin-top: 15px;
				margin-left: 20px;
			}
			.rating-selection
			{
				margin-left: 20px;
			}

			#review-box #user-rating{
				margin-top: 15px;
				margin-left: 20px;
			}
			#user-rating:hover
			{
				cursor: pointer;
			}

			#review-box #comment-post-button{
				margin-top: 15px;
				margin-left: 20px;
				margin-bottom: 30px;
			}


		#call-txt {
		margin-top: 20px;
		text-align: center;
	}

	#call-link {
		margin-bottom: 10px;

		height: 100px;
		width: 100px;
		margin: 0 auto;

	}
	#call-link #call-box{

		height: 100px;
		width: 100px;
		margin: 0 auto;
	}

.clear {
	clear: both;
}

.comment {
	padding: 5px;
	margin-left: 5px;
	margin-bottom: 25px;
	margin-top: 0px;
	height: 100px;
	width: 800px;
	background: #ffffff;
	border-top: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
}

.com {
	margin-left: 10px;
}

.mobile-only {
	display: none;
}

.desktop-only {
	display: block;
}

.free {
	display: none;
}

.heading {
	margin-bottom: 25px;
	color: #FFFFFF;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
}

.left-pad {
	margin-left: 100px;
}

.sub {
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
	height: 50px;
	width: 280px;
	border-radius: 5px;
	background: #CC1100;
	font-family: "Noto Sans", "Source Sans Pro", Verdana, Geneva, Arial, Helvetica, sans-serif;

	transition: 0.5s;
}
	.sub:hover{
		cursor: pointer;

	}

@media screen and (max-width: 1200px){

	#flag {
		display: block;
	}
	#mobile-promo {
		display: none;
	}

	iframe {
		float: none;
		margin: 0 auto;
	}
	#bio-con {

		margin: 0 auto;
		margin-bottom: 25px;
		padding: 20px;
		height: auto;
		width: auto;
		float: none;

	}
		#bio-con .bio-1 {
			margin: 0px;
			padding: 10px;
		}
	#hero-message {
			width: 100%;
			float: none;
			margin: 0 auto;
			text-align: center;
		}
		#hero-message h2 {
			font-size: 45px;
			margin: 25px;
		}
}

@media screen and (max-width: 1100px){
	#contact-us .in-capt {
		text-align: center;
		margin: 0 auto;
		margin-top: 10px;

	}

	#contact-us .sub {
		margin-top: 10px;
		float: none;
	}

	#contact-us {
		text-align: center;
	}
}

@media screen and (max-width: 850px)
{
	.profile-title-bar
	{
		border-bottom: 1px solid #999;
	}
	.title
	{
		font-size: 16px;
	}
	.content {
		width: 100%;
		margin-top: 50px;
		margin-bottom: 0px;
		border-radius: 0px;
	}
	.sub-header {
		position: relative;
		border-radius: 0px;
		background: #000000;
	}

	#nav-top {
		display: none;
	}

	.mobile-nav-top {
		display: block;
	}

		.mobile-school-logo {
			margin-top: 10px;
			display: block;
		}

		#top-bio {
			height: auto;
			padding-top: 10px;
			padding-bottom: 10px;
			}

		#bio-con {
			text-align: left;
			margin: 0 auto;
			margin-bottom: 25px;
			height: auto;
			width: auto;
			float: none;

		}
			#bio-con .bio-1 {
				padding: 10px;
			}



}

@media screen and (max-width: 700px){

.sub-header{
	height: 320px;
	background: #fff;
}
.slide-image {
	height: 320px;
}
.title
{
	font-size: 16px;
}

}


@media screen and (max-width: 500px){

	#sub-title
	{
		display: none;
	}

	.title
	{
		width: 15ch;
		padding-top: 0px;
	}
.sub-header{
	height: 200px;
	background: #fff;
}

.slide-image {
	height: 200px;
}

#flag {
		background-color: rgba(0,0,0,.8);
		top: 198%;
	}

}

@media screen and (max-width: 630px){



	iframe{
		display: block;
		width: 100%;
		float: none;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1500px){


	#comment-h {
		margin: 0 auto;
		margin-bottom: 10px;
	}

	#review-box {
		margin: 0 auto;
		padding: 0px;
		width: 100%;
		border: none;
	}

		#review-box #comment-box {
		box-sizing: border-box;
		margin: 0 auto;
		margin-left: 20px;
		margin-top: 20px;
		width: 85%;
		max-height: auto;
	}

	.comment {
		margin-left: 20px;
		padding: 0px;
		width: 85%;
		overflow: scroll;
	}

	.com {
		padding: 0px;
		margin: 0 auto;
		margin-left: 20px;
	}


}


@media screen and (max-width: 320px){
	.content {
		width: 320px;
	}
}

/* ---------------------------- reviews page -------------------------------*/
.review-link
{
	margin-left: 50px;
}
.testimonials-container
{
	box-sizing: border-box;
	padding-top: 0px;
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 60%;
	float: left;
	border: 1px solid #999;
	padding-bottom: 0px;
}
.testimonials-header
{
	box-sizing: border-box;
	color: #fff;
	font-size: 20px;
	background: #0667D0;
	padding: 15px;
	padding-left: 25px;
}
.testimonials-gym-rating
{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	color: #777;
}
.testimonials-gym-rating-sub-headline
{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 16px;
	font-weight: 100;
	color: #777;
}
.testimonials /* the container that contains the testimonials. This does not include the testimonials header.*/
{
	box-sizing: border-box;
	max-height: 400px;
	overflow-y: scroll;
}
.testimonial
{
		margin: 15px;
		margin-bottom: 50px;
}
.testimonial-seperator
{
	width: 100%;
	border-bottom: 1px solid #777;
	margin-bottom: 50px;
}
.reviewer-name
{
	font-weight: 900;
	font-size: 18px;
	color: #78828C;
}
.review-date
{
	font-size: 12px;
	font-weight: 600;
	color: #DED9DC;
}
.review-body
{
	color: #78828C;
	font-weight: 400px;
	font-size: 16px;
}
.sidebar-promo-form
{
	box-sizing: border-box;
	margin-top: 25px;
	margin-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	float: left;
	z-index: 2;
	width: 320px;
	background-color: rgba(0,0,0,.6);
	border: 2px solid #eee;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}
.reviewer-icon
{
	box-sizing: border-box;
	float: left;
	margin-right: 15px;
	margin-top: 8px;
	background: #70C9C5;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	line-height: 50px;
	text-align: center;
}
.icon-initial
{
	line-height: 50px;
}
.reviewer-info-container
{
	float: left;
}
@media screen and (max-width: 1111px){
	.testimonials-container{
		width: 100%;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.sidebar-promo-form
	{
		clear: both;
		display: block;
		float: none;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}
/* ---------------------------- end reviews page ---------------------------*/

/* ---------------------------- schedule page -------------------------------*/

.schedule-container
{
	box-sizing: border-box;
	padding-top: 0px;
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 60%;
	float: left;
	border: 1px solid #999;
	padding-bottom: 0px;
}
.schedule-header
{
	box-sizing: border-box;
	color: #fff;
	font-size: 20px;
	background: #0667D0;
	padding: 15px;
	padding-left: 25px;
}
.schedule-header-headline
{
	text-align: center;
	font-weight: 600;
}
.schedule-input-container
{
	background: #fff;
}
.schedule-input
{
	box-sizing: border-box;
	padding: 10px;
	margin: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	width: 200px;
	min-width: 200px;
	height: 35px;
	border-radius: 3px;
	border: 1px solid #999;
	box-shadow: 0px 1px 3px #333;
}
.timeslot-box
{
	box-sizing: border-box;
	border: 2px solid #444;
	height: 100%;
}
.timeslot
{
	text-align: center;
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.dow
{
	font-size: 18px;
	color: #FFF;
	border-bottom: 1px solid #333;

	background: #0667D0;
}
.classtime
{
	background: #fff;
	float: left;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	padding-top: 5px;
	height: 80px;
	width: 78.5px;
	font-size: 12px;
}
.classtime:hover
{
	cursor: pointer;
	background: #0667D0;
	color: #fff;
	transition: .4s;
}
.sidebar-promo-form
{
	box-sizing: border-box;
	margin-top: 25px;
	margin-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	float: left;
	z-index: 2;
	width: 320px;
	background-color: rgba(0,0,0,.6);
	border: 2px solid #eee;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}
@media screen and (max-width: 1111px){
	.schedule-container{
		width: 100%;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.sidebar-promo-form
	{
		clear: both;
		display: block;
		float: none;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}
/* ---------------------------- end schedule page ---------------------------*/

/* ---------------------------- instructors page -------------------------------*/

.instructors-container
{
	box-sizing: border-box;
	padding-top: 0px;
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 60%;
	float: left;
	border: 1px solid #999;
	padding-bottom: 25px;

}
.instructors-header
{
	box-sizing: border-box;
	color: #fff;
	font-size: 20px;
	background: #0667D0;
	padding: 15px;
	padding-left: 25px;
	margin-bottom: 25px;
}
.instructor-name
{
	font-weight: 600;
	font-size: 22px;
	text-align: center;
	color: #000;
}
.instructor-bio
{
	margin-left: 25px;
	margin-right: 25px;
	text-align: left;
	font-weight: 100;
	color: #7788A5;
	font-size: 16px;
}
.instructor-image
{
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	max-width: 300px;
	border: 1px solid #999;
}
.instructor-bio-header
{
	font-size: 22px;
	text-align: center;
	color: #000;
}
.sidebar-promo-form
{
	box-sizing: border-box;
	margin-top: 25px;
	margin-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	float: left;
	z-index: 2;
	width: 320px;
	background-color: rgba(0,0,0,.6);
	border: 2px solid #eee;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}
@media screen and (max-width: 1111px){
	.instructors-container{
		width: 100%;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.sidebar-promo-form
	{
		clear: both;
		display: block;
		float: none;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}
/* ---------------------------- end instructors page ---------------------------*/

/* ---------------------------- contact page -------------------------------*/

.contact-us-container
{
	box-sizing: border-box;
	padding-top: 0px;
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 60%;
	float: left;
	border: 1px solid #999;
	padding-bottom: 0px;
}
.contact-us-header
{
	box-sizing: border-box;
	color: #fff;
	font-size: 20px;
	background: #0667D0;
	padding: 15px;
	padding-left: 25px;
}
.contact-us-input
{
	box-sizing: border-box;
	padding: 10px;
	margin: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	box-sizing: border-box;
	width: 25%;
	min-width: 275px;
	height: 50px;
	border-radius: 3px;
	border: 1px solid #999;
}
.contact-us-message
{
	box-sizing: border-box;
	padding: 10px;
	margin: 25px;
	margin-top: 0px;
	margin-bottom: 25px;
	box-sizing: border-box;
	width: 80%;
	min-width: 275px;
	height: 200px;
	border-radius: 3px;
	border: 1px solid #999;
}
.contact-us-input-label
{
	margin-top: 25px;
	margin-bottom: 5px;
	margin-left: 25px;
}
.contact-us-form-button
{
	margin: 25px;
	margin-top: 0px;
	margin-right: 0px;
	width: 25%;
	min-width: 275px;
	height: 50px;
	background: #0667D0;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	box-shadow: 0px 1px 3px #555;
}
.contact-us-form-button:hover
{
	transition: .4s;
	cursor: pointer;
	box-shadow: 0px 1px 3px #555;
}
.sidebar-promo-form
{
	box-sizing: border-box;
	margin-top: 25px;
	margin-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	float: left;
	z-index: 2;
	width: 320px;
	background-color: rgba(0,0,0,.6);
	border: 2px solid #eee;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}
@media screen and (max-width: 1111px){
	.contact-us-container{
		width: 100%;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.contact-us-input, .contact-us-form-button, .contact-us-message, .contact-us-input-label
	{
		margin-left: 10px;
	}
	.sidebar-promo-form
	{
		clear: both;
		display: block;
		float: none;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

/* ---------------------------- end contact page ---------------------------*/

/* ---------------------------- free-class page -------------------------------*/
.free-class-container
{
	box-sizing: border-box;
	padding-top: 0px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 320px;
	border: 1px solid #999;
	padding-bottom: 0px;
}
.free-class-container-bottom
{
	padding-top: 10px;
}
.free-class-header
{
	box-sizing: border-box;
	color: #fff;
	font-size: 20px;
	background: #0667D0;
	padding: 15px;
	padding-left: 25px;
}
.free-class-input
{
	box-sizing: border-box;
	padding: 10px;
	margin: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	box-sizing: border-box;
	width: 25%;
	min-width: 275px;
	height: 50px;
	border-radius: 3px;
	border: 1px solid #999;
}
.free-class-input-label
{
	margin-top: 25px;
	margin-bottom: 5px;
	margin-left: 25px;
}
.free-class-form-button
{
	margin: 25px;
	margin-top: 25px;
	margin-right: 0px;
	width: 25%;
	min-width: 275px;
	height: 50px;
	background: red;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	box-shadow: 0px 1px 3px #555;
}
.free-class-form-button:hover
{
	transition: .4s;
	cursor: pointer;
	box-shadow: 0px 1px 3px #555;
}
.free-class-form-ps
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 25px;
	text-align: center;
}
@media screen and (max-width: 1111px){

	.free-class-input, .free-class-form-button, .free-class-input-label
	{
		margin-left: 10px;
	}
	.sidebar-promo-form
	{
		clear: both;
		display: block;
		float: none;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}
/* ---------------------------- end free-class page ---------------------------*/

/* ---------------------------- thank-you page -------------------------------*/
.thank-you-container
{
	box-sizing: border-box;
	padding-top: 0px;
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 60%;
	float: left;
	border: 1px solid #999;
	padding-bottom: 0px;
}
.thank-you-header
{
	box-sizing: border-box;
	color: #fff;
	font-size: 20px;
	background: #0667D0;
	padding: 15px;
	padding-left: 25px;
}
.thank-you-message
{
	box-sizing: border-box;
	padding: 10px;
	font-weight: 600;
	font-size: 18px;
	color: #666;
}
@media screen and (max-width: 1111px){
	.thank-you-container{
		width: 100%;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.sidebar-promo-form
	{
		clear: both;
		display: block;
		float: none;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}
/* ---------------------------- end thank-you page ---------------------------*/
