.article-content {
	box-sizing: border-box;
	border-radius: 3px;
	border: 2px solid #CCCCCC;
}

.article-body {
	white-space: pre-wrap;
}

.article-content h1 {
	font-family: 'Raleway', 'Open Sans', sans-serif;
	size: 38px;
	color: #2F3033;
}

.article-content h2 {
	font-family: 'Raleway', 'Open Sans', sans-serif;
	size: 28px;
	color: #2F3033;
}

.article-content p {
	font-family: 'Noto Sans', 'Merriweather', Tahoma, serif;
	font-size: 18px;
	line-height: 30px;
	color: #2F3033;
}

.article-content a {
	color: #37BF91;
}

.article-content a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.article-content ul {
	margin-left: 40px;
}

.article-content ul li{
	line-height: 10px;
}
