.article-builder-field {
	font-size: 15px;
	width: 85%;
	box-sizing: border-box;
	padding: 10px;
	background: #FFF;
	color: #555;
	border: 2px solid #CCC;
	border-radius: 4px;
}

.article-builder-field:focus {
	outline: solid;
	outline-color: rgb(77, 144, 254); // #4D90FE
	outline-offset: -2px;
	outline-style: auto;
}

.article-btn {
	margin: 0px;
}

.body {
	overflow-y: scroll;
	height: 250px;
}

.title {
	padding: 5px;
}

.description {
	height: 80px;
}

.sr-mockup {
	border: 1px solid #CCC;
	box-sizing: border-box;
	width: 85%;
}

.sr-mockup-link {
	color: #1A0DAB;
	font-family: arial,sans-serif;
	font-size: 18px;
	line-height: 1.2em;
}

.sr-mockup-link:visited {
	color: #609;
}

.sr-mockup-link:hover {
	cursor: pointer;
}

.sr-mockup-url {
	color: #006621;
	font-family: arial,sans-serif;
	font-size: 14px;
	padding-top: 1px;
}

.sr-mockup-description {
	font-family: arial,sans-serif;
	font-size: 15px;
	color: #545454;
	padding-top: 2px;
}

.style-button {
	background: linear-gradient( #DDD, #AAA );
	color: #000;
	height: 25px;
	width: 25px;
	display: inline-block;
	border: 1px solid #666;
	border-radius: 2px;
}

.style-button:focus {
	outline: solid;
	outline-color: rgb(77, 144, 254); // #4D90FE
	outline-offset: -2px;
	outline-style: auto;
}

#anchor-widget {
	max-width: 280px;
	border-radius: 3px;
	background: #CCC;
	box-sizing: border-box;
	padding: 5px;
	margin-bottom: 10px;
}

#anchor-widget .element {
	float: left;
	height: 20px;
	margin-right: 5px;
}

#anchor-widget #href {
	width: 100px;
	text-indent: 5px;
}

#anchor-widget #anchor-text {
	width: 100px;
	text-indent: 5px;
}

#anchor-widget #link-button {
	width: 40px;
	margin: 0px;
	background: #448AFF;
	color: #FFFFFF;
	border-radius: 3px;
}

#anchor-widget #close-anchor {
}
