.title {
	font-family: 'Raleway', 'Open Sans', sans-serif;
	size: 38px;
	color: #2F3033;
}

.body {
	font-family: 'Noto Sans', 'Merriweather', Tahoma, serif;
	white-space: pre-wrap;
	font-size: 18px;
	line-height: 35px;
	color: #2F3033;
}
