
#search-box {
	padding-top: 0px;
	padding-bottom: 0px;
	height: auto;
	width: 100%;
	margin: 0 auto;
	/* background: url(../img/kick-duck.jpg);
	background-size: 100%;
	background-position-y: 85%; */
}

.sb-overlay {
	padding-top: 100px;
	padding-bottom: 100px;
}

.search-title {
	color: #2F3033;
	font-family: "Open Sans", sans-serif;
	font-size: 35px;
  	/* text-shadow: 0px 0px 15px #000; */
	margin-bottom: 20px;
}
.search-sub-title {
	display: table;
	color: #000;
	/* text-shadow: 0px 5px 15px #000; */
	max-width: 70ch;
	text-align: center;
	margin-bottom: 10px;
}

.sb-link {
	color: #000;
	text-decoration: none;
}

.art1-title {
	color: #00C853;
}

.art1:hover {
	color: #00C853;
	border-bottom: 3px solid #00C853;
}

.art2-title {
	color: #3EA7EB;
}
.art2:hover {
	color: #3EA7EB;
	border-bottom: 3px solid #3EA7EB;
}

.art3-title {
	color: #FF6373;
}

.art3:hover {
	color: #FF6373;
	border-bottom: 3px solid #FF6373;
}

.art4-title {
	color: #FDA32E;
}

.art4:hover {
	color: #FDA32E;
	border-bottom: 3px solid #FDA32E;
}

.art5-title {
	color: #7A6FF0;
}

.art5:hover {
	color: #7A6FF0;
	border-bottom: 3px solid #7A6FF0;
}

#search-bar {
	-webkit-appearance: none;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	height: 50px;
	width: 450px;
	border-radius: 3px 0px 0px 3px;
	border: 1px solid #DDD;
	margin-right: -5px;
}

#search-bar:hover {
	cursor: text;
}
#search-bar:focus {
	border: 1px solid #0667D0;
	transition: .25s;
}

#find-gyms-button {
	vertical-align: middle;
	display: inline-block;
	background: #0667D0;
	border: 2px solid #0667D0;
	border-radius: 0px 2px 2px 0px;
	height: 50px;
	width: 175px;
	font-size: 15px;
	/* font-family: Tahoma;
	font-weight: 600; */
	color: #FFFFFF;
	margin-right: 10px;
	transition: .3s;
}

#find-gyms-button:hover {
	background: #0667D0;
	border: 2px solid #0667D0;
	cursor: pointer;
}

#find-gyms-button:focus {
	outline: none;
}

.mo {
	display: none;
}

.dt {
	display: block;
}

@media screen and (max-width: 800px) {

	.sb-overlay {
		padding-top: 65px;
		padding-bottom: 65px;
	}
}

@media screen and (max-width: 680px) {

	.search-title {
		font-size: 30px;
	}

	#search-bar {
		width: 75%;
	}

	#find-gyms-button {
		width: 21%;
	}

	.mo {
		display: block;
	}

	.dt {
		display: none;
	}

}

@media screen and (max-width: 600px) {


	#search-box {
		background-size: 150%;
		background-position-x: 65%;
	}
}

@media screen and (max-width: 500px) {

	#search-box {
		background-size: 202%;
		background-position-x: 65%;
	}
}
