*{
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
}

body {
	margin: 0;
}

.content {
	box-sizing: border-box;
	margin: 0;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
}

.template-view-panel {
	box-sizing: border-box;
	padding: 15px;
	border: 3px solid #CCC;
	margin-bottom: 30px;
}

.head-text {
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	background: #2980b9;
	font-family: helvetica;
	height: 100%;
	font-size: 28px;
	font-weight: 900;
	color: #eee;
}

.overlay {
	display: block;
	padding: 325px;
}

.modal-form {
	padding-top: 50px;
	padding-bottom: 50px;
	position: fixed;
	overflow-y: scroll;
	background-color: rgba( 0, 0, 0, .85 );
	width: 100%;
	height: 100%;
	left: 0;
}

.main-content {
	margin: 0 auto;
	width: 600px;
	box-sizing: border-box;
	background: #fff;
	background-color: rgba(256,256,256,.9);
	border: 2px solid #333;
}

.section {
	box-sizing: border-box;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;
}

.title {
	display: block;
	color: #fff;
	font-size: 40px;
	text-align: center;
	font-family: Helvetica;
	font-weight: 900;
	background-color: rgba(0,0,0,.9);
	padding-top: 15px;
	padding-bottom: 10px;
	margin-top: 0px;
}

.pic {
	display: block;
	margin: 0 auto;
	width: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sub-title {
	margin-left: 15px;
	margin-right: 15px;
	display: block;
	color: #333;
	font-size: 25px;
	text-align: center;
	font-weight: 600;
	padding-top: 5px;
	padding-bottom: 15px;

}

.form-title {
	font-family: 'Source Sans Pro', sans-serif;
	display: block;
	color: #333;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 10px;

}

.sub-text {
	font-size: 22px;
	text-align: center;
	color: #333;
	max-width: 600px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;

}

.hr {
	margin: 0 auto;
	display: block;
	background: #eee;
	height: 2px;
	width: 50%;
}

.sub-cta-text {
	text-align: center;
	font-size: 14px;
	color: #333;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sign-up-form {
	box-sizing: border-box;
	width: 460px;
	height: auto;
	margin: 0 auto;
	background: #FFF;
	border: 2px solid #999;
	text-align: center;
}

.form-sub-text {
	font-size: 14px;
	color: #333;
	margin-bottom: 10px;
}

.form-field {
	width: 90%;
	height: 50px;
	margin: 0 auto;
	margin-top: 15px;
	text-indent: 15px;
	font-size: 22px;
	background-color: rgba(256,256,256,.9);
	border-radius: 2px;
	color: #333;
	border: 2px solid #CCC;
}

.form-button {
	text-align: center;
	padding-top: 0px;
	display: block;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 30px;
	height: 50px;
	width: 90%;
	background: red;
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	border: none;
	border-bottom: 4px solid #cc1100;
	border-radius: 3px;

}

.cta-button {
	text-align: center;
	padding-top: 0px;
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	height: 50px;
	width: 95%;
	background: red;
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	border: none;
	font-family: Tahoma, Helvetica, sans-serif;
	border-bottom: 4px solid #cc1100;
	text-shadow: 1px 1px 2px #000;
	border-radius: 3px;
}

.cta-button:hover{
	background: #cc1100;
	border-bottom: 4px solid red;
	cursor: pointer;
}
.cta-button:focus{
	outline: none;
}

.alert-text {
	color: red;
}

.open-form {
	width: 250px;
	height: 100px;
	padding-left: 10px;
	padding-top: 10px;
}

.form-button:hover{
	cursor: pointer;
	background: #cc1100;
	border-bottom: 4px solid red;
}

.clear {
	clear: both;
}

.mobile {
	display: none;
}

@media screen and (max-width: 1100px){


}

@media screen and (max-width: 700px){

	.mobile {
		display: block;
	}

	.content {
		width: 100%;

	}

	.copy-box {
		padding-top: 0px;
	}

	.main-content {
		width: 100%;
		background-color: rgba(256,256,256,1);
	}

}

@media screen and (max-width: 600px){

	.cta-button {
		width: 95%;
	}

	.title {
		background-color: rgba(0,0,0,.8);
		padding: 10px;
	}

}

@media screen and (max-width: 500px){

	.sign-up-form {
		width: 100%;
	}

	.section
	{
		padding-left: 0px;
		padding-right: 0px;
	}

	.form-button {
		width: 90%;
	}

}

@media screen and (max-width: 464px){

	.content {
		width: 100%;
		background-size: 175%;
		background-position-y: 20%;
	}

	.sub-title {
		font-size: 22px;
	}

	.cta-button {
		font-size: 18px;
	}

}

@media screen and (max-width: 400px){
	.sub-title{
		font-size: 18px;
	}
}


@media screen and (max-width: 320px){
	.content {
		width: 320px;
	}
}
