body {
	background: #FFFFFF;
}
.page-title
{
	margin-left: 50px;
	margin-top: 25px;
}

.business-logo-container {
	max-height: 100px;
	min-width: 100px;
}

.business-logo {
	box-sizing: border-box;
	display: block;
	max-height: 100px;

}

.contact-business-button {
	border: 2px solid #0667D0;
	border-radius: 5px;
	color: #0667D0;
	padding: 10px;
	background: #FFF;
}

.free-class-button {
	border-radius: 4px;
	padding: 10px;
}

.free-class-modal {
	background-color: rgba( 0, 0, 0, .85 );
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

.free-class-container {
	border: 4px solid #CCC;
	border-radius: 2px;
	background: #FFF;
}

.free-class-form-container {
	margin: 0 auto;
}

.free-class-field {
	height: 50px;
	width: 280px;
	box-sizing: border-box;
	border: 2px solid #CCC;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 10px;
}

.clear {
	clear: both;
}

@media screen and (max-width: 630px){


}

@media screen and (max-width: 320px){

}

.testimonials-container {
	box-sizing: border-box;
	padding-top: 0px;
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 60%;
	float: left;
	border: 1px solid #999;
	padding-bottom: 0px;
}
.testimonials-header
{
box-sizing: border-box;
color: #fff;
font-size: 20px;
background: #0667D0;
padding: 15px;
padding-left: 25px;
}
.testimonials-gym-rating {
	text-align: left;
	font-size: 22px;
	font-weight: 600;
	color: #777;
}
.testimonials-gym-rating-sub-headline {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 16px;
	font-weight: 100;
	color: #777;
}
.testimonials {
	box-sizing: border-box;
}
.testimonial
{
	margin: 15px;
	margin-bottom: 50px;
}
.testimonial-seperator
{
	width: 100%;
	border-bottom: 1px solid #CCC;
	margin-bottom: 50px;
}
.reviewer-name
{
font-weight: 900;
font-size: 18px;
color: #78828C;
}
.review-date
{
font-size: 12px;
font-weight: 600;
color: #DED9DC;
}
.review-body
{
color: #78828C;
font-weight: 400px;
font-size: 16px;
}
.sidebar-promo-form
{
box-sizing: border-box;
margin-top: 25px;
margin-left: 50px;
padding-top: 10px;
padding-bottom: 10px;
display: block;
float: left;
z-index: 2;
width: 320px;
background-color: rgba(0,0,0,.6);
border: 2px solid #eee;
color: #FFFFFF;
font-weight: 600;
font-size: 15px;
text-align: center;
}
.reviewer-icon {
	box-sizing: border-box;
	float: left;
	margin-right: 15px;
	margin-top: 8px;
	background: #70C9C5;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	line-height: 50px;
	text-align: center;
}
.icon-initial
{
line-height: 50px;
}
.reviewer-info-container
{
float: left;
}
@media screen and (max-width: 1111px){
.testimonials-container{
width: 100%;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;
}
.sidebar-promo-form
{
clear: both;
display: block;
float: none;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;
}
}
/* ---------------------------- end reviews page ---------------------------*/

/* ---------------------------- schedule page -------------------------------*/

.schedule-container
{
box-sizing: border-box;
padding-top: 0px;
margin-left: 50px;
margin-right: 0px;
margin-top: 25px;
margin-bottom: 25px;
width: 60%;
float: left;
border: 1px solid #999;
padding-bottom: 0px;
}
.schedule-header
{
box-sizing: border-box;
color: #fff;
font-size: 20px;
background: #0667D0;
padding: 15px;
padding-left: 25px;
}
.schedule-header-headline
{
text-align: center;
font-weight: 600;
}
.schedule-input-container
{
background: #fff;
}
.schedule-input
{
box-sizing: border-box;
padding: 10px;
margin: 25px;
margin-top: 10px;
margin-bottom: 10px;
box-sizing: border-box;
width: 200px;
min-width: 200px;
height: 35px;
border-radius: 3px;
border: 1px solid #999;
box-shadow: 0px 1px 3px #333;
}
.timeslot-box
{
box-sizing: border-box;
border: 2px solid #444;
height: 100%;
}
.timeslot
{
text-align: center;
float: left;
width: 100%;
box-sizing: border-box;
}
.dow
{
font-size: 18px;
color: #FFF;
border-bottom: 1px solid #333;

background: #0667D0;
}
.classtime
{
background: #fff;
float: left;
border-right: 1px solid #333;
border-bottom: 1px solid #333;
padding-top: 5px;
height: 80px;
width: 78.5px;
font-size: 12px;
}
.classtime:hover
{
cursor: pointer;
background: #0667D0;
color: #fff;
transition: .4s;
}
.sidebar-promo-form
{
box-sizing: border-box;
margin-top: 25px;
margin-left: 50px;
padding-top: 10px;
padding-bottom: 10px;
display: block;
float: left;
z-index: 2;
width: 320px;
background-color: rgba(0,0,0,.6);
border: 2px solid #eee;
color: #FFFFFF;
font-weight: 600;
font-size: 15px;
text-align: center;
}
@media screen and (max-width: 1111px){
.schedule-container{
width: 100%;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;
}
.sidebar-promo-form
{
clear: both;
display: block;
float: none;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;
}
}
/* ---------------------------- end schedule page ---------------------------*/

/* ---------------------------- instructors page -------------------------------*/

.instructors-container
{
box-sizing: border-box;
padding-top: 0px;
margin-left: 50px;
margin-right: 0px;
margin-top: 25px;
margin-bottom: 25px;
width: 60%;
float: left;
border: 1px solid #999;
padding-bottom: 25px;

}
.instructors-header
{
box-sizing: border-box;
color: #fff;
font-size: 20px;
background: #0667D0;
padding: 15px;
padding-left: 25px;
margin-bottom: 25px;
}
.instructor-name
{
font-weight: 600;
font-size: 22px;
text-align: center;
color: #000;
}
.instructor-bio
{
margin-left: 25px;
margin-right: 25px;
text-align: left;
font-weight: 100;
color: #7788A5;
font-size: 16px;
}
.instructor-image
{
display: block;
margin: 0 auto;
margin-top: 15px;
margin-bottom: 15px;
max-width: 300px;
border: 1px solid #999;
}
.instructor-bio-header
{
font-size: 22px;
text-align: center;
color: #000;
}
.sidebar-promo-form
{
box-sizing: border-box;
margin-top: 25px;
margin-left: 50px;
padding-top: 10px;
padding-bottom: 10px;
display: block;
float: left;
z-index: 2;
width: 320px;
background-color: rgba(0,0,0,.6);
border: 2px solid #eee;
color: #FFFFFF;
font-weight: 600;
font-size: 15px;
text-align: center;
}
@media screen and (max-width: 1111px){
.instructors-container{
width: 100%;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;
}
.sidebar-promo-form
{
clear: both;
display: block;
float: none;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;
}
}
/* ---------------------------- end instructors page ---------------------------*/

/* ---------------------------- contact page -------------------------------*/

.contact-us-container
{
box-sizing: border-box;
padding-top: 0px;
margin-left: 50px;
margin-right: 0px;
margin-top: 25px;
margin-bottom: 25px;
width: 60%;
float: left;
border: 1px solid #999;
padding-bottom: 0px;
}
.contact-us-header
{
box-sizing: border-box;
color: #fff;
font-size: 20px;
background: #0667D0;
padding: 15px;
padding-left: 25px;
}
.contact-us-input
{
box-sizing: border-box;
padding: 10px;
margin: 25px;
margin-top: 0px;
margin-bottom: 0px;
box-sizing: border-box;
width: 25%;
min-width: 275px;
height: 50px;
border-radius: 3px;
border: 1px solid #999;
}
.contact-us-message
{
box-sizing: border-box;
padding: 10px;
margin: 25px;
margin-top: 0px;
margin-bottom: 25px;
box-sizing: border-box;
width: 80%;
min-width: 275px;
height: 200px;
border-radius: 3px;
border: 1px solid #999;
}
.contact-us-input-label
{
margin-top: 25px;
margin-bottom: 5px;
margin-left: 25px;
}
.contact-us-form-button
{
margin: 25px;
margin-top: 0px;
margin-right: 0px;
width: 25%;
min-width: 275px;
height: 50px;
background: #0667D0;
color: #fff;
font-size: 16px;
font-weight: 600;
box-shadow: 0px 1px 3px #555;
}
.contact-us-form-button:hover
{
transition: .4s;
cursor: pointer;
box-shadow: 0px 1px 3px #555;
}
.sidebar-promo-form
{
box-sizing: border-box;
margin-top: 25px;
margin-left: 50px;
padding-top: 10px;
padding-bottom: 10px;
display: block;
float: left;
z-index: 2;
width: 320px;
background-color: rgba(0,0,0,.6);
border: 2px solid #eee;
color: #FFFFFF;
font-weight: 600;
font-size: 15px;
text-align: center;
}
@media screen and (max-width: 1111px){
.contact-us-container{
width: 100%;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;
}
.contact-us-input, .contact-us-form-button, .contact-us-message, .contact-us-input-label
{
margin-left: 10px;
}
.sidebar-promo-form
{
clear: both;
display: block;
float: none;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;
}
}

/* ---------------------------- end contact page ---------------------------*/

@media screen and (max-width: 1111px){

.free-class-input, .free-class-form-button, .free-class-input-label
{
margin-left: 10px;
}
.sidebar-promo-form
{
clear: both;
display: block;
float: none;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;
}
}
/* ---------------------------- end free-class page ---------------------------*/

/* ---------------------------- thank-you page -------------------------------*/
.thank-you-container
{
box-sizing: border-box;
padding-top: 0px;
margin-left: 50px;
margin-right: 0px;
margin-top: 25px;
margin-bottom: 25px;
width: 60%;
float: left;
border: 1px solid #999;
padding-bottom: 0px;
}
.thank-you-header
{
box-sizing: border-box;
color: #fff;
font-size: 20px;
background: #0667D0;
padding: 15px;
padding-left: 25px;
}
.thank-you-message
{
box-sizing: border-box;
padding: 10px;
font-weight: 600;
font-size: 18px;
color: #666;
}
@media screen and (max-width: 1111px){
.thank-you-container{
width: 100%;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;
}
.sidebar-promo-form
{
clear: both;
display: block;
float: none;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;
}
}
/* ---------------------------- end thank-you page ---------------------------*/

@media screen and (max-width: 450px){
	.reviewer-icon {
		font-size: 20px;
		font-weight: 600;
		height: 40px;
		width: 40px;
		border-radius: 20px;
		line-height: 40px;
	}
}
