.event-type-tag {
	width: 100%;
	border-radius: 2px;
	border: 2px solid #CCC;
	padding: 10px;
	background: #FFFFFF;
	margin-top: 15px;
	box-sizing: border-box;
}

.event {
	padding: 12px;
	color: #FFF;
	box-sizing: border-box;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}
